@model  List<PizzaSize>
<p>Please select the size of your pizza:</p>
<style>
    .mydiv{
        color:black;
        background-color:brown;
    }
</style>


<div class="form-group mydiv" >
    <label for="size">Select the size of your pizza: </label>
    <select class="form-control" id="size">
        @foreach (var item in Enum.GetNames(typeof(PizzaSize))
        {
            <option>@item</option>
        }
        
    </select>
</div>

<a asp-controller="Pizza" asp-action="SelectDough" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Continue</a>



